<a href="https://colab.research.google.com/github/thejaswini82/Pandas/blob/main/Weather_condition_to_play_outdoor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Weather condition to play outdoor

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

In [2]:
url = "https://raw.githubusercontent.com/thejaswini82/DATASETS/main/weather.csv"
weather_data = pd.read_csv(url)

In [5]:
print(weather_data.head())

   Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                0.00  2016-01-03           1             3       2016
1                0.00  2016-01-03           1             3       2016
2                0.16  2016-01-03           1             3       2016
3                0.00  2016-01-03           1             3       2016
4                0.01  2016-01-03           1             3       2016

  Station.City Station.Code Station.Location Station.State  \
0   Birmingham          BHM   Birmingham, AL       Alabama
1   Huntsville          HSV   Huntsville, AL       Alabama
2       Mobile          MOB       Mobile, AL       Alabama
3   Montgomery          MGM   Montgomery, AL       Alabama
4    Anchorage          ANC    Anchorage, AK        Alaska

   Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                         39                         46
1                         39                         47
2                         46                         51
3                         45                         52
4                         34                         38

   Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                         32                   33             4.33
1                         31                   32             3.86
2                         41                   35             9.73
3                         38                   32             6.86
4                         29                   19             7.80

In [6]:
print(weather_data.tail())

       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
16738                0.08  2017-01-01           1             1       2017
16739                0.00  2017-01-01           1             1       2017
16740                0.00  2017-01-01           1             1       2017
16741                0.06  2017-01-01           1             1       2017
16742                0.10  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
16738                         23                         32
16739                         32                         42
16740                         17                         29
16741                         23                         31
16742                         21                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

In [9]:
print(weather_data.columns)

Index(['Data.Precipitation', 'Date.Full', 'Date.Month', 'Date.Week of',
       'Date.Year', 'Station.City', 'Station.Code', 'Station.Location',
       'Station.State', 'Data.Temperature.Avg Temp',
       'Data.Temperature.Max Temp', 'Data.Temperature.Min Temp',
       'Data.Wind.Direction', 'Data.Wind.Speed'],
      dtype='object')

In [3]:
#1.Convert the given dataset into frequency tables.

In [17]:
columns_to_analyze = ['Data.Precipitation', 'Date.Full', 'Date.Month', 'Date.Week of', 'Date.Year',
                      'Station.City', 'Station.Code', 'Station.Location', 'Station.State',
                      'Data.Temperature.Avg Temp', 'Data.Temperature.Max Temp', 'Data.Temperature.Min Temp',
                      'Data.Wind.Direction', 'Data.Wind.Speed']

In [18]:
frequency_tables = {}
for column in weather_data.columns:
    frequency_tables[column] = weather_data[column].value_counts()

In [19]:
for column, table in frequency_tables.items():
    print(f"Frequency table for {column}:")
    print(table)
    print()

Frequency table for Data.Precipitation:
0.00    4324
0.01     549
0.02     366
0.03     333
0.04     279
        ...
4.63       1
4.94       1
5.22       1
4.48       1
3.66       1
Name: Data.Precipitation, Length: 565, dtype: int64

Frequency table for Date.Full:
2017-01-01    317
2016-10-02    317
2016-08-21    317
2016-08-28    317
2016-09-04    317
2016-06-05    317
2016-05-29    317
2016-05-22    317
2016-05-15    317
2016-05-08    317
2016-05-01    317
2016-08-07    317
2016-04-03    317
2016-10-09    317
2016-10-16    317
2016-03-06    317
2016-10-23    317
2016-10-30    317
2016-11-06    317
2016-12-04    317
2016-12-11    317
2016-12-18    317
2016-12-25    317
2016-08-14    317
2016-09-25    316
2016-09-18    316
2016-09-11    316
2016-07-03    316
2016-04-24    316
2016-04-17    316
2016-04-10    316
2016-03-20    315
2016-03-13    315
2016-01-17    315
2016-01-24    315
2016-01-31    315
2016-02-07    315
2016-02-14    315
2016-02-21    315
2016-02-28    315
2016-01-03    315
2016-03-27    315
2016-06-12    315
2016-06-19    315
2016-06-26    315
2016-01-10    315
2016-07-24    314
2016-11-13    314
2016-11-20    314
2016-11-27    314
2016-07-10    314
2016-07-31    314
2016-07-17    314
Name: Date.Full, dtype: int64

Frequency table for Date.Month:
1     1892
5     1585
10    1585
7     1572
8     1268
12    1268
4     1265
9     1265
3     1262
6     1262
2     1260
11    1259
Name: Date.Month, dtype: int64

Frequency table for Date.Week of:
3     948
17    945
24    945
10    945
6     634
1     634
4     634
18    633
25    633
11    633
28    632
21    632
14    632
7     632
13    629
27    629
31    629
20    629
23    317
16    317
9     317
2     317
15    317
5     317
29    317
22    317
8     317
30    317
26    315
19    315
12    315
Name: Date.Week of, dtype: int64

Frequency table for Date.Year:
2016    16426
2017      317
Name: Date.Year, dtype: int64

Frequency table for Station.City:
Norfolk           106
Jackson           106
Springfield       106
Charleston        106
Newark            106
                 ...
Milton             47
Mt. Washington     47
China Lake         45
Wrangell           30
Unalakleet          5
Name: Station.City, Length: 307, dtype: int64

Frequency table for Station.Code:
BHM    53
CLT    53
FAR    53
DIK    53
BIS    53
       ..
MQE    47
MWN    47
NID    45
WRG    30
UNK     5
Name: Station.Code, Length: 318, dtype: int64

Frequency table for Station.Location:
Birmingham, AL        53
Charlotte, NC         53
Fargo, ND             53
Dickinson, ND         53
Bismarck, ND          53
                      ..
Milton, MA            47
Mt. Washington, NH    47
China Lake, CA        45
Wrangell, AK          30
Unalakleet, AK         5
Name: Station.Location, Length: 318, dtype: int64

Frequency table for Station.State:
Alaska            1719
Texas             1272
California         999
Florida            636
Montana            583
Michigan           477
Nebraska           424
New York           424
Oregon             424
Tennessee          420
Pennsylvania       371
Mississippi        371
Ohio               371
North Carolina     371
Washington         371
Missouri           371
Georgia            318
Illinois           318
Kansas             318
Nevada             318
Colorado           318
Virginia           318
South Dakota       265
North Dakota       265
Wyoming            265
Minnesota          265
Arizona            265
Hawaii             265
Kentucky           265
Iowa               265
Louisiana          261
Oklahoma           212
Wisconsin          212
West Virginia      212
South Carolina     212
Alabama            212
Indiana            212
Idaho              159
New Mexico         159
Maine              159
Arkansas           159
Massachusetts      153
Maryland           106
Connecticut        106
New Jersey         106
New Hampshire      100
DE                  53
Utah                53
VA                  53
Vermont             53
Delaware            53
Rhode Island        53
Puerto Rico         53
Name: Station.State, dtype: int64

Frequency table for Data.Temperature.Avg Temp:
 60     643
 58     338
 74     329
 57     328
 56     325
       ...
-14       1
 100      1
 99       1
 95       1
-20       1
Name: Data.Temperature.Avg Temp, Length: 119, dtype: int64

Frequency table for Data.Temperature.Max Temp:
 60    592
 82    390
 84    366
 83    363
 81    360
      ...
-6       1
-19      1
-9       1
-16      1
-15      1
Name: Data.Temperature.Max Temp, Length: 125, dtype: int64

Frequency table for Data.Temperature.Min Temp:
 60    550
 52    343
 49    331
 47    328
 46    325
      ...
-28      2
-18      2
-23      1
-35      1
-24      1
Name: Data.Temperature.Min Temp, Length: 114, dtype: int64

Frequency table for Data.Wind.Direction:
21    1134
20    1087
22    1065
19    1046
18     991
23     990
17     916
16     896
24     862
25     777
15     755
26     682
14     648
13     534
27     519
12     500
11     411
28     397
9      310
10     307
29     263
8      228
0      223
30     183
7      168
5      146
6      135
31     126
4      126
32      76
3       63
2       48
33      42
34      32
1       21
35      20
36      16
Name: Data.Wind.Direction, dtype: int64

Frequency table for Data.Wind.Speed:
0.00     223
5.70      48
5.60      48
7.20      46
6.30      46
        ...
33.88      1
26.58      1
15.82      1
8.83       1
18.16      1
Name: Data.Wind.Speed, Length: 1461, dtype: int64

In [20]:
# other type of code
for column_name in columns_to_analyze:
    frequency_table = weather_data[column_name].value_counts()
    print(f"Frequency Table for {column_name}:")
    print(frequency_table)
    print("\n")

Frequency Table for Data.Precipitation:
0.00    4324
0.01     549
0.02     366
0.03     333
0.04     279
        ...
4.63       1
4.94       1
5.22       1
4.48       1
3.66       1
Name: Data.Precipitation, Length: 565, dtype: int64


Frequency Table for Date.Full:
2017-01-01    317
2016-10-02    317
2016-08-21    317
2016-08-28    317
2016-09-04    317
2016-06-05    317
2016-05-29    317
2016-05-22    317
2016-05-15    317
2016-05-08    317
2016-05-01    317
2016-08-07    317
2016-04-03    317
2016-10-09    317
2016-10-16    317
2016-03-06    317
2016-10-23    317
2016-10-30    317
2016-11-06    317
2016-12-04    317
2016-12-11    317
2016-12-18    317
2016-12-25    317
2016-08-14    317
2016-09-25    316
2016-09-18    316
2016-09-11    316
2016-07-03    316
2016-04-24    316
2016-04-17    316
2016-04-10    316
2016-03-20    315
2016-03-13    315
2016-01-17    315
2016-01-24    315
2016-01-31    315
2016-02-07    315
2016-02-14    315
2016-02-21    315
2016-02-28    315
2016-01-03    315
2016-03-27    315
2016-06-12    315
2016-06-19    315
2016-06-26    315
2016-01-10    315
2016-07-24    314
2016-11-13    314
2016-11-20    314
2016-11-27    314
2016-07-10    314
2016-07-31    314
2016-07-17    314
Name: Date.Full, dtype: int64


Frequency Table for Date.Month:
1     1892
5     1585
10    1585
7     1572
8     1268
12    1268
4     1265
9     1265
3     1262
6     1262
2     1260
11    1259
Name: Date.Month, dtype: int64


Frequency Table for Date.Week of:
3     948
17    945
24    945
10    945
6     634
1     634
4     634
18    633
25    633
11    633
28    632
21    632
14    632
7     632
13    629
27    629
31    629
20    629
23    317
16    317
9     317
2     317
15    317
5     317
29    317
22    317
8     317
30    317
26    315
19    315
12    315
Name: Date.Week of, dtype: int64


Frequency Table for Date.Year:
2016    16426
2017      317
Name: Date.Year, dtype: int64


Frequency Table for Station.City:
Norfolk           106
Jackson           106
Springfield       106
Charleston        106
Newark            106
                 ...
Milton             47
Mt. Washington     47
China Lake         45
Wrangell           30
Unalakleet          5
Name: Station.City, Length: 307, dtype: int64


Frequency Table for Station.Code:
BHM    53
CLT    53
FAR    53
DIK    53
BIS    53
       ..
MQE    47
MWN    47
NID    45
WRG    30
UNK     5
Name: Station.Code, Length: 318, dtype: int64


Frequency Table for Station.Location:
Birmingham, AL        53
Charlotte, NC         53
Fargo, ND             53
Dickinson, ND         53
Bismarck, ND          53
                      ..
Milton, MA            47
Mt. Washington, NH    47
China Lake, CA        45
Wrangell, AK          30
Unalakleet, AK         5
Name: Station.Location, Length: 318, dtype: int64


Frequency Table for Station.State:
Alaska            1719
Texas             1272
California         999
Florida            636
Montana            583
Michigan           477
Nebraska           424
New York           424
Oregon             424
Tennessee          420
Pennsylvania       371
Mississippi        371
Ohio               371
North Carolina     371
Washington         371
Missouri           371
Georgia            318
Illinois           318
Kansas             318
Nevada             318
Colorado           318
Virginia           318
South Dakota       265
North Dakota       265
Wyoming            265
Minnesota          265
Arizona            265
Hawaii             265
Kentucky           265
Iowa               265
Louisiana          261
Oklahoma           212
Wisconsin          212
West Virginia      212
South Carolina     212
Alabama            212
Indiana            212
Idaho              159
New Mexico         159
Maine              159
Arkansas           159
Massachusetts      153
Maryland           106
Connecticut        106
New Jersey         106
New Hampshire      100
DE                  53
Utah                53
VA                  53
Vermont             53
Delaware            53
Rhode Island        53
Puerto Rico         53
Name: Station.State, dtype: int64


Frequency Table for Data.Temperature.Avg Temp:
 60     643
 58     338
 74     329
 57     328
 56     325
       ...
-14       1
 100      1
 99       1
 95       1
-20       1
Name: Data.Temperature.Avg Temp, Length: 119, dtype: int64


Frequency Table for Data.Temperature.Max Temp:
 60    592
 82    390
 84    366
 83    363
 81    360
      ...
-6       1
-19      1
-9       1
-16      1
-15      1
Name: Data.Temperature.Max Temp, Length: 125, dtype: int64


Frequency Table for Data.Temperature.Min Temp:
 60    550
 52    343
 49    331
 47    328
 46    325
      ...
-28      2
-18      2
-23      1
-35      1
-24      1
Name: Data.Temperature.Min Temp, Length: 114, dtype: int64


Frequency Table for Data.Wind.Direction:
21    1134
20    1087
22    1065
19    1046
18     991
23     990
17     916
16     896
24     862
25     777
15     755
26     682
14     648
13     534
27     519
12     500
11     411
28     397
9      310
10     307
29     263
8      228
0      223
30     183
7      168
5      146
6      135
31     126
4      126
32      76
3       63
2       48
33      42
34      32
1       21
35      20
36      16
Name: Data.Wind.Direction, dtype: int64


Frequency Table for Data.Wind.Speed:
0.00     223
5.70      48
5.60      48
7.20      46
6.30      46
        ...
33.88      1
26.58      1
15.82      1
8.83       1
18.16      1
Name: Data.Wind.Speed, Length: 1461, dtype: int64

In [21]:
#2.Generate a Likelihood table by finding the probabilities of given features.

In [24]:
precipitation_likelihood = weather_data['Data.Precipitation'].value_counts(normalize=True)

# Print the likelihood table
print("Likelihood Table for Data.Precipitation:")
print(precipitation_likelihood)

Likelihood Table for Data.Precipitation:
0.00    0.258257
0.01    0.032790
0.02    0.021860
0.03    0.019889
0.04    0.016664
          ...
4.63    0.000060
4.94    0.000060
5.22    0.000060
4.48    0.000060
3.66    0.000060
Name: Data.Precipitation, Length: 565, dtype: float64

In [26]:
# Calculate probabilities for the 'Date.Month' feature
likelihood_table = weather_data['Date.Month'].value_counts(normalize=True).reset_index()
likelihood_table.columns = ['Month', 'Probability']

likelihood_table = likelihood_table.sort_values(by='Month')

# Display the likelihood table
print("Likelihood Table for Date.Month:")
print(likelihood_table)

Likelihood Table for Date.Month:
    Month  Probability
0       1     0.113002
10      2     0.075255
8       3     0.075375
6       4     0.075554
1       5     0.094666
9       6     0.075375
3       7     0.093890
4       8     0.075733
7       9     0.075554
2      10     0.094666
11     11     0.075196
5      12     0.075733

In [29]:
#Now, use the Bayes theorem to calculate the posterior probability.

In [31]:
# Calculate prior probabilities (assuming equal prior for each month)
total_samples = len(weather_data)
prior_probabilities = weather_data['Date.Month'].value_counts(normalize=True).to_dict()

In [32]:
# Calculate likelihoods for each month
likelihoods = {}
for month in weather_data['Date.Month'].unique():
    subset = weather_data[weather_data['Date.Month'] == month]
    likelihoods[month] = len(subset) / total_samples

In [33]:
# Calculate posterior probabilities using Bayes' theorem
posterior_probabilities = {}
for month in likelihoods:
    posterior_probabilities[month] = (likelihoods[month] * prior_probabilities[month]) / sum(
        [likelihoods[m] * prior_probabilities[m] for m in likelihoods]
    )

In [34]:
print("Posterior Probabilities:")
print(posterior_probabilities)

Posterior Probabilities:
{1: 0.1500947299854734, 2: 0.06656781008634823, 3: 0.0667793041869249, 4: 0.0670971742853531, 5: 0.10533718612633923, 6: 0.0667793041869249, 7: 0.10361634366365731, 8: 0.06741579912085711, 9: 0.0670971742853531, 10: 0.10533718612633923, 11: 0.06646218882557252, 12: 0.06741579912085711}